@charset "utf-8";
@import url("webfonts/__/stylesheet.css");

/* CSS Document */

body h1 {
/*
	font-family: 楷体;
	text-align: center;
*/
}
.IndexTitle {
	font-family: 楷体;
	text-align: center;
}
.MainPart {
}
